@model BookStore.ViewModels.AddReviewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookID" class="control-label"></label>
                <input asp-for="BookID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <Select asp-for="Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </Select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerReview" class="control-label"></label>
                <textarea asp-for="CustomerReview" class="form-control" maxlength="200"></textarea>
                <span asp-validation-for="CustomerReview" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" value=@DateTime.Today.ToString("yyyy-MM-dd")  />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="AddReview" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
